data:
#  fold: 4  # !!!!!!!!!!!!!!
  batch_size: 8
  meta_path: '../data/train_metadata_extended.csv'
  wav_root: '../data/train_audio'
#  teacher_path: '../data/teacher_target_filt.csv'
  crop_len: 30
  sample_rate: 32000
  test_wav_len: 5
  n_jobs: 4
#  all_data:
train:
  epoch: 0
  apex: True
  opt_class: Adam
  grad_clip: 1
  score_trsh: [0.1, 0.2, 0.3, 0.4]
  save_freq: 1
  scheduler_class: CosineAnnealingLR
  scheduler_params:
    eta_min: 0.000001
    T_max: 500
#  save_path: model_save/baseline_zswodzrl/all_data/   # !!!!!!!!!!!!!!
model_path: model_save/baseline_072/final-model.pt  # !!!!!!!!!!!!!!
model:
  name: 'efficient_focal'
  params:
#    backbone_config:
#      model_name: resnet18
#      pretrained: True
    batch_time_crop: True
    maxpool_loss: True
metric:
  f1_score:
    average: macro
    zero_division: 0
  comp_metric:
  balanced_accuracy:
